@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/* Start Global Rules */
:root {
  --main-color: #00c5a9;
  --main-color-alt: #474747;
  --color-light-grey: #f4f5f7;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --transition: 0.3s;
  --max-height: calc(100vh - 131px);
  --mobile-height: calc(100vh - 101px);
  --width: calc(100% - 300px);
  --title-color: #1b3e70;
  --cursor-g: url('../public/flat-design-mouse-cursor-set-g.svg') 12 12, auto
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::selection {
  color: #00c5a9;
}

/* Hide the default arrows in Firefox */
input[type='number'],
input[type='text'] {
  -moz-appearance: textfield;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #f5f5f5;
}



img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/* small screens */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

/* medium screens*/
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}

/* large screens */
@media (min-width: 1199px) {
  .container {
    width: calc(100% - 300px);
  }
}

/* End Global Rules */
/* Start Header Component */

@media (max-width: 1199px) {
  body::before {
    top: 101px;
  }
}

.header {
  display: flex;
  height: 70px;
  padding-top: 70px;
  padding-bottom: 60px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative;

}

.header .logo-site {
  width: 250px;
}

.header .nav-bar {
  width: 100%;
}

.header .nav-bar .nav-menu-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header .nav-bar .nav-menu-icons>ul {
  display: flex;
  font-size: larger;
}

.nav-bar .nav-menu-icons ul>li {
  padding-inline: 12px;
  margin-right: 30px;
}

.nav-bar .nav-menu-icons ul>li .nav-item {
  color: #474747;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.nav-bar .nav-menu-icons ul>li:hover:not(:last-of-type) .nav-item {
  color: #00c5a9;
}

.nav-bar .nav-menu-icons ul>li:last-of-type .nav-item {
  color: var(--color-light-grey);
  background-color: #474747;
  padding: 12px 18px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) var(--transition);
  -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) var(--transition);
  -moz-transition: cubic-bezier(0.215, 0.610, 0.355, 1) var(--transition);
  -ms-transition: cubic-bezier(0.215, 0.610, 0.355, 1) var(--transition);
  -o-transition: cubic-bezier(0.215, 0.610, 0.355, 1) var(--transition);
  font-weight: bold;
  font-size: smaller;
}

.nav-bar .nav-menu-icons ul>li:last-of-type .nav-item:hover {
  color: #474747;
  background-color: white;
  border: 1px solid var(--color-light-grey);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.elements-div {
  display: flex;
  align-items: center;
}

.search-div {
  position: relative;
  font-size: 15px;
}

.search-div .search-icon {
  position: absolute;
  transform: translateX(-50%);
  bottom: 30%;
  left: 30px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: #ccc;
}

.search-div #search {
  direction: ltr;
  width: 160px;
  height: 40px;
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: #e7eded;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 20px 20px 20px 40px;
  caret-color: var(--main-color);
  font-size: 12px;
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -ms-transition: width 0.4s;
  -o-transition: width 0.4s;
}

.search-div #search:focus {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.search-div #search::placeholder {
  color: #ccc;
}

.search-div #search:focus::placeholder {
  opacity: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.elements-div .user-icon {
  color: var(--main-color-alt);
}

.elements-div .cart-icon {
  color: #ccc;
  padding: 7.5px;
  border: 1px solid var(--color-light-grey);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  margin-right: 10px;
}

.elements-div .cart-icon:hover {
  color: var(--main-color);
}

.nav-bar .burger-menu {
  display: none;
  user-select: none;
  z-index: 2;
  cursor: pointer;
}

/* Header layout in M-Large Screen's */
@media (min-width: 1199px) and (max-width: 1440px) {
  .header .nav-bar ul li {
    padding-inline: 0;
    margin-right: 10px;
  }

  .nav-bar ul>li:first-of-type .nav-item {
    margin-right: 15px;
  }

  .header .nav-item,
  #buy-now-btn {
    font-size: 14px;
  }

  #buy-now-btn {
    padding: 5px 10px;
  }
}

/* Header layout in Medium Screen's */
@media (max-width: 1199px) {
  .header {
    width: calc(100% - 150px);
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .header .logo-site {
    width: 160px;
  }

  .header .nav-bar ul li {
    padding-inline: 0;
    margin-right: 10px;
  }

  .nav-bar ul>li:first-of-type .nav-item {
    margin-right: 15px;
  }

  .header .nav-item,
  #buy-now-btn {
    font-size: 14px;
  }

  #buy-now-btn {
    padding: 5px 10px;
  }

  .search-div #search {
    width: 100px;
  }

  .search-div #search:focus {
    width: 120px;
  }
}

/* Header layout in Mini Screen's */
@media (max-width: 768px) {
  .header {
    justify-content: space-between;
    width: 100%;
    padding-inline: 40px;
  }

  .header .nav-bar {
    position: relative;
  }

  .header .nav-bar,
  .header .nav-bar .nav-menu-icons,
  .nav-menu-icons>ul {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: left;
  }

  .header .nav-bar .nav-menu-icons {
    display: none;
    position: absolute;
    left: -200px;
    top: 50px;
    height: 500px;
    max-width: 450px;
    width: 0;
    align-items: end;
    background-color: #ccc;
    transition: width 0.4s ease, left 0.4s ease;
    -webkit-transition: width 0.4s ease, left 0.4s ease;
    -moz-transition: width 0.4s ease, left 0.4s ease;
    -ms-transition: width 0.4s ease, left 0.4s ease;
    -o-transition: width 0.4s ease, left 0.4s ease;
  }

  .header .nav-bar .nav-menu-icons ul {
    position: relative;
    z-index: 1;
    margin-top: 40px;
  }

  .header .nav-bar .nav-menu-icons ul::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 400px;
    left: -40px;
    background-color: var(--main-color);
    z-index: -1;
    top: -133px;
  }

  .header .nav-bar .nav-menu-icons ul li {
    padding: 20px;
  }

  .header .nav-bar .nav-menu-icons ul li .nav-item {
    font-size: 22px;
    width: 170px;
    display: inline-block;
    color: white;
  }

  .nav-bar .nav-menu-icons ul>li:not(:last-of-type) .nav-item:hover {
    color: #474747;
  }

  .header .nav-bar .nav-menu-icons ul li #buy-now-btn {
    width: fit-content;
    margin-top: 50px;
    padding: 10px 15px;
  }

  .header .nav-bar .nav-menu-icons.open {
    display: flex;
    width: fit-content;
    left: 0;
  }

  .nav-bar .burger-menu {
    display: block;
  }

  #search,
  .search-icon {
    display: none;
  }

  .elements-div {
    flex-direction: column;
    text-align: left;
    gap: 15px;
    z-index: 2;
  }

  .elements-div a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .elements-div .user-icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    color: white;
    background-color: var(--main-color-alt);
    border: 1px solid var(--color-light-grey);
  }

  .elements-div .cart-icon {
    border: none;
    margin-right: 0;
    color: var(--color-light-grey);
  }
}


/* End Header Component */
/* Start Landing section */
main {
  width: var(--width);
}

.landing__container {
  display: flex;
  height: var(--max-height);
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.landing__product {
  height: 600px;
  margin-left: 150px;
}

.wrapper__info {
  text-align: right;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-bottom: 100px;
  position: relative;
}



.landing__info {
  position: relative;
  display: flex;
  align-items: center;
}

.product__logo {
  height: 135px;
  margin-bottom: 32px;
  margin-right: 30px;
}

.main__title {
  color: var(--title-color);
  font-size: 54px;
  margin-bottom: 0;
  letter-spacing: -0.08px;
}

.arabic__title {
  font-size: 21px;
  font-weight: bold;
  background: linear-gradient(to bottom, black, #777 80%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.6;
  margin-bottom: 45px;
}

.description__box h3 {
  display: none;
}

.description__box p {
  color: var(--title-color);
  line-height: 32px;
}

.learn__more,
.submit__btn {
  margin-top: 100px;
  display: flex;
  height: 70px;
  font-size: 20px;
  align-items: center;
  background-color: var(--main-color);
  width: 300px;
  justify-content: center;
  color: white;
  border-radius: 4px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.learn__more {
  bottom: -80px;
  position: absolute;
  overflow: hidden;
}

.learn__more::before,
.submit__btn::before {
  content: '\f177';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  left: 70px;
  opacity: 1;
  color: white;
  transition: left 0.3s ease, opacity 0.3s ease;
}

.learn__more:hover,
.submit__btn:hover {
  padding-left: 10px;
}

.learn__more:hover::before,
.submit__btn:hover::before {
  left: -40px;
  opacity: 0;
}

/* Header layout in M-Large Screen's */
@media (min-width: 1199px) and (max-width: 1440px) {
  .wrapper__info {
    margin-bottom: 0;
  }

  .landing__product {
    height: 450px;
    margin-left: 75px;
  }

  .product__logo {
    height: 80px;
    margin-right: 10px;
  }

  .main__title {
    font-size: 40px;
  }

  .arabic__title {
    font-size: 16px;
  }

  .description__box p {
    line-height: 30px;
    font-size: 14px;
    max-width: 550px;
  }

  .learn__more {
    height: 64px;
    width: 250px;
    bottom: 30px;
  }

  .learn__more::before {
    left: 50px;
  }
}

/* Header layout in Medium Screen's */

@media (max-width: 1199px) {
  main.container {}

  .wrapper__info {
    margin-bottom: 0;
  }

  .landing__product {
    height: 400px;
    margin-left: 75px;
  }

  .product__logo {
    height: 80px;
    margin-right: 10px;
  }

  .main__title {
    font-size: 40px;
  }

  .arabic__title {
    font-size: 16px;
  }

  .description__box p {
    line-height: 30px;
    font-size: 14px;
    max-width: 600px;
  }

  .learn__more {
    height: 64px;
    width: 250px;
    bottom: 30px;
  }

  .learn__more::before {
    left: 35px;
  }
}


/* Header layout in Mini Screen's */
@media (max-width:992px) {
  .landing__container {
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-around;
  }



  .landing__product {
    margin: 0 auto 20px;
    max-height: 320px;
  }

  .wrapper__info {
    margin-right: 0;

  }

  .landing__info {
    flex-direction: column-reverse;
    margin: 0 auto;
  }

  .product__logo {
    height: 60px;
    margin: 0 auto 10px;

    /* display: none; */
  }

  .landing__title {
    text-align: center;
  }

  .main__title {
    font-size: 30px;
    margin-top: 0;
  }

  .arabic__title {
    margin-bottom: 20px;
  }

  .description__box {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin: 0 auto;
  }

  .description__box p {
    line-height: 24px;
    font-size: 12px;
    max-width: 400px;
  }

  .learn__more {
    height: 45px;
    width: 236px;
    bottom: 30px;
    right: 30%;
    top: 45%;

  }
}

@media (max-width:768px) {
  main {
    margin: 0;
    width: 100%;
  }

  .wrapper__info {
    max-width: 340px;
  }

  .learn__more {
    right: 13%;
    top: 55%;
  }

  .description__box p {
    line-height: 22px;
    font-size: 10px;
    max-width: 320px;
  }

}

/* End Landing Component */
/* Start Options Component */
.option__page {
  width: var(--width);
  height: var(--max-height);
  margin: auto;
  user-select: none;
}

.option__container {
  display: flex;
  height: 100%;
}

.scrollable {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 200px 30px 50px 0;
  cursor: grab;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.scrollable:active {
  cursor: grabbing;
}

/*Start Components Styles */
.pos-rel {
  position: relative;
}

.mini__card {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-color: var(--color-light-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.select__card input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.option__title {
  color: var(--main-color-alt);
}

.price {
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  opacity: 0;
  margin-top: 5px;
}

.t-m {
  margin-bottom: 40px;
  font-size: 28px;
}

.m-b {
  margin-bottom: 80px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-40 {
  margin-top: 40px;
}

.t-m.s-t {
  font-size: 22px;
  margin-bottom: 50px;
}

.txt-al {
  text-align: center;
  margin-bottom: 100px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-60 {
  margin-left: 60px;
}

.mb-180 {
  margin-bottom: 180px;
}

.gr {
  color: #00c5a9;
  display: inline-block;
  font-weight: bold;
}

.pr {

  font-size: 10px;
}

.clr {
  color: #777;
}

.select__card {
  height: 170px;
  width: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow-x: clip;
  cursor: pointer;
  margin-bottom: 80px;
  background-color: var(--color-light-grey);
  transition: background-color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
}

.select__card:hover,
.select__card.checked,
.select__card.mini__card.in {
  background-color: white;
  overflow: visible;
}

.select__card.two {
  width: 190px;
  height: 220px;
}

.select__card.three {
  width: 190px;
  height: 300px;
}

.select__card.three.six {
  height: 250px;
}

.select__card.three.six .txt-al {
  margin-bottom: 122.5px;
  margin-top: 22.5px;
}

.select__card::before {
  content: '';
  position: absolute;
  width: 102%;
  height: 102%;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  top: -2px;
  left: -2px;
}


.select__card::before {
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
}



.select__card.one::before {
  background: linear-gradient(to bottom, #ff9999 -60%, transparent);

}

.select__card.two::before {
  background: linear-gradient(to bottom, #00cccc -60%, transparent);

}

.select__card.three::before {
  background: linear-gradient(to bottom, #ffcc66 -60%, transparent);

}



.select__card::after {
  z-index: -2;
  background: linear-gradient(to bottom, #ddd, transparent);

}


.select__card img {
  position: absolute;
  transform: translateY(75%) scale(1.2);
  max-width: 150px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: transform 0.3s ease-out, filter 0.3s ease;
  -webkit-transition: transform 0.3s ease-out, filter 0.3s ease;
  -moz-transition: transform 0.3s ease-out, filter 0.3s ease;
  -ms-transition: transform 0.3s ease-out, filter 0.3s ease;
  -o-transition: transform 0.3s ease-out, filter 0.3s ease;
  padding-top: 30px;
  -webkit-transform: translateY(75%) scale(1.2);
  -moz-transform: translateY(75%) scale(1.2);
  -ms-transform: translateY(75%) scale(1.2);
  -o-transform: translateY(75%) scale(1.2);
}

.select__card img#fx-1 {
  transform: translateY(30%) scale(0.6);
  -webkit-transform: translateY(30%) scale(0.6);
  -moz-transform: translateY(30%) scale(0.6);
  -ms-transform: translateY(30%) scale(0.6);
  -o-transform: translateY(30%) scale(0.6);
}

.select__card img#fx-2 {
  transform: translate(0%, 55%) scale(0.6);
  -webkit-transform: translate(0%, 55%) scale(0.6);
  -moz-transform: translate(0%, 55%) scale(0.6);
  -ms-transform: translate(0%, 55%) scale(0.6);
  -o-transform: translate(0%, 55%) scale(0.6);
}

.select__card img#fx-8 {
  transform: translate(0%, 60%) scale(1.2);
  -webkit-transform: translate(0%, 60%) scale(1.2);
  -moz-transform: translate(0%, 60%) scale(1.2);
  -ms-transform: translate(0%, 60%) scale(1.2);
  -o-transform: translate(0%, 60%) scale(1.2);
}


#fx-6-s {
  transform: translate(-20%, -25%) scale(50%, 40%);
  -webkit-transform: translate(-20%, -25%) scale(50%, 40%);
  -moz-transform: translate(-20%, -25%) scale(50%, 40%);
  -ms-transform: translate(-20%, -25%) scale(50%, 40%);
  -o-transform: translate(-20%, -25%) scale(50%, 40%);
}

#fx-12-4 {
  transform: translate(-20%, -37.5%) scale(55%, 45%);
  -webkit-transform: translate(-20%, -37.5%) scale(55%, 45%);
  -moz-transform: translate(-20%, -37.5%) scale(55%, 45%);
  -ms-transform: translate(-20%, -37.5%) scale(55%, 45%);
  -o-transform: translate(-20%, -37.5%) scale(55%, 45%);
}

#fx-12-2 {
  transform: translate(0%, 60%) scale(1.2);
  -webkit-transform: translate(0%, 60%) scale(1.2);
  -moz-transform: translate(0%, 60%) scale(1.2);
  -ms-transform: translate(0%, 60%) scale(1.2);
  -o-transform: translate(0%, 60%) scale(1.2);
}

#fx-12-1 {
  transform: translate(0%, 60%) scale(1.2);
  -webkit-transform: translate(0%, 60%) scale(1.2);
  -moz-transform: translate(0%, 60%) scale(1.2);
  -ms-transform: translate(0%, 60%) scale(1.2);
  -o-transform: translate(0%, 60%) scale(1.2);
}



.select__card:hover::before,
.select__card.checked::before,
.select__card:hover,
.select__card.checked,
.select__card.mini__card.in .price {
  opacity: 1;
}

.select__card.checked img,
.select__card:hover img,
.select__card.mini__card.in img {
  filter: none;
  -webkit-filter: none;
}

.select__card.checked img#fx-1,
.select__card:hover img#fx-1,
.select__card.mini__card.in img#fx-1 {
  transform: translate(0%, 25%) scale(1);
  -webkit-transform: translate(0%, 25%) scale(1);
  -moz-transform: translate(0%, 25%) scale(1);
  -ms-transform: translate(0%, 25%) scale(1);
  -o-transform: translate(0%, 25%) scale(1);
}

.select__card.checked img#fx-8,
.select__card:hover img#fx-8,
.select__card.mini__card.in img#fx-8 {
  transform: translate(0%, 75%) scale(2);
  -webkit-transform: translate(0%, 75%) scale(2);
  -moz-transform: translate(0%, 75%) scale(2);
  -ms-transform: translate(0%, 75%) scale(2);
  -o-transform: translate(0%, 75%) scale(2);
}

.select__card.checked img#fx-2,
.select__card:hover img#fx-2,
.select__card.mini__card.in img#fx-2 {
  transform: translate(1%, 40%) scale(1.1);
  -webkit-transform: translate(1%, 40%) scale(1.1);
  -moz-transform: translate(1%, 40%) scale(1.1);
  -ms-transform: translate(1%, 40%) scale(1.1);
  -o-transform: translate(1%, 40%) scale(1.1);
}

.select__card.checked img#fx-6,
.select__card:hover img#fx-6,
.select__card.checked img#fx-6-a,
.select__card:hover img#fx-6-a,
.select__card.checked img#fx-4,
.select__card:hover img#fx-4,
.select__card.mini__card.in img#fx-4,
.select__card.mini__card.in img#fx-6,
.select__card.mini__card.in img#fx-6-a {
  transform: translate(0%, 75%) scale(1.9);
  -webkit-transform: translate(0%, 75%) scale(1.9);
  -moz-transform: translate(0%, 75%) scale(1.9);
  -ms-transform: translate(0%, 75%) scale(1.9);
  -o-transform: translate(0%, 75%) scale(1.9);
}

.select__card.checked img#fx-12-1,
.select__card:hover img#fx-12-1,
.select__card.mini__card.in img#fx-12-1 {
  transform: translate(-2%, 50%) scale(1.5);
  -webkit-transform: translate(-2%, 50%) scale(1.5);
  -moz-transform: translate(-2%, 50%) scale(1.5);
  -ms-transform: translate(-2%, 50%) scale(1.5);
  -o-transform: translate(-2%, 50%) scale(1.5);
}

.select__card.checked img#fx-12-2,
.select__card:hover img#fx-12-2,
.select__card.mini__card.in img#fx-12-2 {
  transform: translate(-2%, 75%) scale(2);
  -webkit-transform: translate(-2%, 75%) scale(2);
  -moz-transform: translate(-2%, 75%) scale(2);
  -ms-transform: translate(-2%, 75%) scale(2);
  -o-transform: translate(-2%, 75%) scale(2);
}

/*End Components Styles */
.flex__box {
  display: flex;
  width: 100% / 3;
  gap: 80px;
  flex-wrap: wrap;
}

.mini__card.age__input {
  border: none;
  height: 80px;
  width: 225px;
  padding: 10px 24px;
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
  caret-color: var(--main-color);
}


.age__input:focus {
  outline: none;
}

.fixed-option {
  padding: 10px;
  margin-bottom: 15px;
}

.age-options {
  padding: 10px;
  margin-bottom: 15px;
}

.submit__btn {
  position: relative;
  border: none;
  margin-top: 150px;
}

.fixed {
  width: 1000px;
  background-color: #b31e1e;
  min-height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 100%;
  /* margin-top: 20px; */
  background-color: #ffffff00;
  box-shadow: 8px 2px 13px -6px rgba(0, 0, 0, 0.1);
}

.fixed .landing__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixed img {
  max-height: 650px;
  z-index: 1;
  margin-left: 50px;
}

.cont {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column-reverse;
}

.fixed .lo-logo {
  height: 65px;
  margin-bottom: -20px;
  margin-right: 58px;
}

.fixed .landing__title .main__title {
  text-align: center;
  font-size: 30px;
  color: #1b3e70;
}

.fixed .arabic__title {
  font-size: 15px;
}

/* screen's REsposive */
@media (max-width:1442px) {
  .fixed {
    margin-left: 0px;
  }

  .fixed .cont {
    margin-right: 60px;
  }

  .fixed img {
    height: 600px;
    margin: 0;
  }

  .fixed .lo-logo {
    height: 65px;
    margin-bottom: -10px;
    margin-right: 10px;
  }

  .fixed .landing__title .main__title {
    text-align: center;
    font-size: 30px;
    color: #1b3e70;
  }

  .fixed .arabic__title {
    font-size: 18px;
  }
}

@media (max-width:1199px) {
  .option__page {
    width: calc(100% - 150px);
    height: var(--max-height);
    margin: auto;

  }


}

@media ((max-width:992px)) {
  .fixed {
    display: none;
  }
}

@media (max-width:768px) {
  .option__section {
    height: var(--mobile-height);
    width: 100%;
  }

  .option__container {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
  }

  .fixed {
    display: none;
  }

  .scrollable {
    width: 100%;
    gap: 10px;
    padding: 100px 30px 50px 0
  }

  .submit__btn {
    margin-top: 100px;
    width: 215px;
    display: block;
    overflow: hidden;
  }

  .submit__btn::before {
    left: 58px;
    top: 26.5px;

  }
}


/* End Options Component */
/*Start Checkout page */
.checkout__page {
  width: var(--width);
  display: flex;
  max-height: var(--max-height);
  height: 100%;
  flex-direction: row-reverse;
  position: relative;
  margin-top: 60px;
}

.checkout__page .aside {
  flex-grow: 1;
  display: flex;
  height: 100%;
}

.aside .m-v {
  max-width: 750px;
  margin-right: auto;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.checkout__page .bside {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 40px 40px 25px;
  justify-content: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: var(--main-color-alt);
  position: fixed;
  right: 150px;
  top: 191px;
}

.select__card.mini__card.in {
  margin-left: auto;
  margin-right: auto;
}

.bside .t-p {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 35px;
}

.bside .t-p h5 {
  display: inline;
}

.bside .submit__btn.ad {
  margin: 0;
  font-size: 15px;
  width: 250px;
  height: 50px;
}

.bside .submit__btn.ad::before {
  left: 37px;
}

/* --------------- */
/* --Screen responsive-- */
/* --------------- */
@media (max-width:992px) {
  .checkout__page {
    width: var(--width);
    display: flex;
    max-height: var(--max-height);
    flex-direction: column;
  }
}

/* End Checkout page */